/*------------------------------------*\
    $Cards
\*------------------------------------*/


.section-grid {
    $root: &;
    will-change: transform;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    &__header {
        @include gutter(1, 0, 1, 0);
        align-items: center;
        text-align: center;
        width: 100%;
        z-index: 2;
        color: $dark-grey;
        background: $white;

        // sass-lint:disable indentation
        transition:
            color $anim--speed $anim--ease 0ms;
        // sass-lint:enable indentation

        // sass-lint:disable-all
        #{$root}--sticky & {
            position: sticky;
            top: 0;

            &.stuck {
                color: $orange;
            }
        }
        // sass-lint:enable-all
    }

    &__links {
        position: relative;
        z-index: 1;
        
        display: flex;
        align-items: stretch;
        // justify-content: center;
        flex-wrap: wrap;
        
        &__item {
            @include gutter(0.5, 0.5, 0.5, 0.5);
            flex-basis: 25%;

            &:nth-of-type(1),
            &:nth-of-type(6) {
                flex-basis: 50%;
                min-height: 400px;
            }
        }

    }

}
