// Grid dimensions
$gutter-mobile:     10px;
$gutter-tablet:     20px;
$gutter-desktop:    40px;

// Breakpoints
$bp-tablet-portrait:  481px;
$bp-tablet-landscape: 769px;
$bp-deskop:           1025px;
$bp-deskop-wide:      1201px;

$max-width:         1100px;
