/*------------------------------------*\
	$TABLE OF CONTENTS
\*------------------------------------*/


/**
 *
 * Vendor ---------------------------
 * .....Gridle
 * .....Normalize
 *
 * Config ---------------------------
 * .....Variables
 * .....Grid
 *
 * Lib ------------------------------
 * .....Mixins
 *
 * Atoms ----------------------------
 * Molecules ------------------------
 * Organisms ------------------------
 * Templates ------------------------
 * Pages ----------------------------
 *
 */


/*------------------------------------*\
	$VENDOR
\*------------------------------------*/
@import 'vendor/normalize';


/*------------------------------------*\
	$CONFIG
\*------------------------------------*/
@import 'config/variables';


/*------------------------------------*\
	$Abstracts
\*------------------------------------*/
@import 'abstracts/mixins';
@import 'abstracts/base';
@import 'abstracts/layout';


/*------------------------------------*\
	$Atoms
\*------------------------------------*/
@import 'atoms/text/heading';
@import 'atoms/text/paragraph';
@import 'atoms/text/introduction';
@import 'atoms/text/subheading';
@import 'atoms/text/detail';
@import 'atoms/image/full-width';
@import 'atoms/image/inline';
@import 'atoms/image/cover';


/*------------------------------------*\
	$Components
\*------------------------------------*/
@import 'components/header';
@import 'components/cards';
// @import 'components/priority-nav';


/*------------------------------------*\
	$TEMPLATES
\*------------------------------------*/
@import 'templates/home';


/*------------------------------------*\
	$PAGES
\*------------------------------------*/
// @import '04-pages/';

