/* ============================================
    Core template layout
*/

// 100% wrapper hight
html,
body {
    // Breaks position sticky
    height: 100%;
}

// Flexbox layout
.app {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__header {
        z-index: 10;
        width: 100%;
    }

    &__body {
        position: relative;
        overflow: hidden;
        height: 100%;
        perspective: 1000px;
        perspective-origin: center center;
    }

    &__nav {
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__page {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;


        > .content {
            @include native-vertical-scroll;
            height: 100%;
        }

    }
}


.app__nav {

    // Animation variables here

    background: hotpink;
    // transform: translate3d(100%, 0%, 0);
    // // sass-lint:disable indentation
    // transition:
    //     transform 900ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    // // sass-lint:enddisable indentation

    .unload {
        display: none;
    }

    &.anim--open {
        transform: translate3d(0%, 0%, 0);

        &-setup {
            transform: translate3d(100%, 0%, 0);
            transition-duration: 0ms;
            transition-delay: 0ms;
        }

        &-transition {
            // sass-lint:disable indentation
            transition:
                transform 900ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            // sass-lint:enddisable indentation
        }
    }

    &.anim--close {
        transform: translate3d(-100%, 0%, 0);

        &-setup {
            // z-index: 2;
            // // transform: translate3d(0%, 0%, 0);
            // transition-duration: 0ms;
            // transition-delay: 0ms;
        }

        &-transition {
            // sass-lint:disable indentation
            transition:
                transform 900ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            // sass-lint:enddisable indentation
        }
    }
}