dploy.yaml
node_modules
.sass-cache
.tmp
.DS_Store
*.zip
patternlab/source/_patterns/**
patternlab/source/images/**

# Exclude dist apart from the patternlab styleguide
/dist/*
!/dist/patternlab/
/dist/patternlab/*
#!/dist/patternlab/index.html
!/dist/patternlab/styleguide/
