<div class="cookie-warning js-cookie-message">
    <div class="cookie-warning__container">
        <div class="cookie-warning__message">
            <p>This website uses cookies to ensure you get the best experience on our website.</p>
        </div>
        <div class="cookie-warning__action">
            <a href="#" class="cookie-warning__btn btn btn--primary js-cookie-dismiss">Dismiss</a>
        </div>
    </div>
</div>
