/*------------------------------------*\
    $SITE HEADER
\*------------------------------------*/

.site-header {
	background: #fff;
	padding: 0;

    &__aligner {
        @extend %aligner;
        display: flex;
    }
}
