/*------------------------------------*\
    $HERO
\*------------------------------------*/


/**
 *
 * Heros are the large, usually full-width, containers which
 * wrap other content, such as large images or text.
 *
 */


$masthead-height: 84px;

.hero {

}


// This is not a combinatorial class: this is it's own entity
.hero--full {

    // For example purposes: delete this once we have a more acurrate example
    // of hero, e.g. one with image
    background: #ccc;

    // For want of a better name:
    .t-homepage & {
        width: 100%;
        height: calc(100vh - #{$masthead-height});
    }
}
