/*------------------------------------*\
    $MAIN MENU
\*------------------------------------*/


/**
 *
 * Recommended markup structure:

 * - ul.main-menu
 * -- li.main-menu__item
 * --- a.main-menu__link
 * --- ul.main-menu__sub-menu
 * ---- li.main-menu__sub-menu__item
 * ----- a.main-menu__sub-menu__link
 *
 */


// [ul]
.main-menu {

	// List item [li]
	&__item {
		display: inline-block;
		margin: 2.75rem 0.5rem 1.5rem 0.5rem;
		font-size: font-size('eta');
		text-transform: uppercase;
		padding: 0 1rem;

		// Require to absolutely position sub-menu
		position: relative;
	}

	// List item link [a]
	&__link {
		// Fancy underline effect
		@include animated-underline;

		position: relative;
		padding: 10px 0;
		color: $color--text;

		// Active/hover state
		&--active,
		&:hover {
			color: $color--primary;
		}
	}

	// The sub-menu drop-down [ul]
	&__sub-menu {
		display: none;
		position: absolute;
		padding: 10px 1rem;
		top: 2rem;
		left: 0;
		background: #fff;

		// List item [li]
		&__item {
			padding: 8px 0;
			white-space: nowrap;
		}

		// List item link [a]
		&__link {
			// Fancy underline effect
			@include animated-underline;

			position: relative;
			padding: 10px 0;

			&:hover {
				color: $color--primary;
			}
		}

		// Display the sub-menu on hover
		.main-menu__item:hover & {
			display: block;
		}
	}

	// Delegates layout to site header:
	// This might be a nice way to stop components getting
	// tangled so much, e.g. the delegated styling for main-menu
	// component is also found in this file
	.site-header & {
		// Fills remaining horizontal space after logo
	    flex: 1;
	    text-align: right;
	}
}
