/*------------------------------------*\
    $SUB/DROPDOWN MENU
\*------------------------------------*/

.sub-menu {
	position: absolute;
	display: none;
	padding: 10px 0;
	
	// List item
	&__item {
		padding: 8px 0;
	}

	// List item link
	&__item-link {
		&:hover {
			color: $color--primary;
		}
	}
}
