.form {
    padding: 15px;

    &__group {
        padding: 30px;
        border: 0;
        background-color: $black-10;
        margin-bottom: 15px;
    }

    &__group-heading {
        @include font-size(l);
        margin: 0 0 15px;
        float: left;
        color: $color--black;
    }

    &__item {
        margin-bottom: 15px;
        clear: both;

        &--heading {
            margin-bottom: 0;
        }
    }

    &__item-heading {
        @include font-size(s);
        margin-bottom: 10px;
    }

    &__input {
        min-width: 300px;

        &--xsmall {
            width: 50px;
        }

        &--small {
            width: 200px;
        }

        &--medium {
            width: 400px;
        }

        &--large {
            width: 100%;
        }

    }

    &__checkbox-container {
        display: flex;
        flex-wrap: wrap;
    }

    &__radio-item,
    &__checkbox-item {
        @include font-size(xs);
        display: flex;
        align-items: center;
        color: rgba($color--black, 0.7);
        margin-bottom: 10px;

        [type='radio'],
        [type='checkbox'] {
            margin-right: 5px;
        }
    }

    &__checkbox-item {
        flex-basis: 100%;
        min-width: 100%;
        margin-bottom: 10px;

        @include media-query(desktop) {
            flex-basis: calc(100% / 3);
            min-width: calc(100% / 3);
        }
    }

    &__description {
        @include font-size(xxs);
        margin-top: 10px;
        color: rgba($color--black, 0.5);

        &--important {
            font-weight: 700;
        }
    }

    &__action {
        padding: 20px 30px 30px;
    }
}
