

{# TODO: Add aria role #}
<nav id="app__nav" class="app__nav">
	<div class="content">

		<ul class="nav__menu">

			{# {% include "atoms-priority-nav__item" with item %} #}

			<li class="nav__item">
				<a class="nav__link" href="#">
					<span class="nav__text">
						item
					</span>
				</a>
			</li>


			<li class="nav__item">
				<a class="nav__link" href="#">
					<span class="nav__text">
						item
					</span>
				</a>
			</li>


			<li class="nav__item">
				<a class="nav__link" href="#">
					<span class="nav__text">
						item
					</span>
				</a>
			</li>


		</ul>

	</div>
</nav>