

{# TODO: Add aria role #}
<nav class="app-navigation" id="app-navigation">

	<div class="app-navigation__menu">

		{% for item in priorityNavigation %}
			<a class="app-navigation__menu__link" href="#">
				{% include "@molecules/links/priority-link.twig" with item %}
			</a>
		{% endfor %}
		
	</div>

</nav>