/*------------------------------------*\
    $Homepage template
\*------------------------------------*/

.homepage__hero {
    @include gutter(0, 0, 1, 0);

    // > .content {

    // }
}


.homepage__introduction {
    @include gutter(1, 2, 0, 2);

    > .content {
        @include aligner;
        @include gutter(0, 0, 2, 0);
        max-width: 1024px;
        text-align: center;
        border-bottom: solid 1px rgba($color--dark-grey, 0.1);
    }

}
