{% extends "templates-fixed-header" %}

{% block app__page %}

	<div class="homepage__hero">
		<div class="content">
			{% include "atoms-image__full-width" with hero %}
		</div>
	</div>

	<div class="homepage__introduction">
		<div class="content">
			{% include "atoms-text__introduction"  with { content : introduction } %}	
		</div>
	</div>

	{% include "organisms-cards" with { cards : blog_posts } %}
	{% include "organisms-cards" with { cards : projects } %}

{% endblock %}
