{# name and id could do with parent name in #}
<div class="form__checkbox-container">
{% for item in options %}
    <div class="form__checkbox-item">
        <input type="checkbox" name="" id="-{{ loop.index }}">
        {{ item.title }}
    </div>
{% endfor %}
</div>
