/*------------------------------------*\
    $LINKS
\*------------------------------------*/

a {
	color: #000;
	text-decoration: none;
	outline: 0;
	transition:
		color ease $default-transtion-speed;
	
	&:hover, &:focus {
		color: #000;
	}
}