/*------------------------------------*\
    $MEDIA ELEMENTS
\*------------------------------------*/

/* Flexible Media */
img, video, object {
	max-width: 100%;
	height: auto;
}

iframe {
	margin-bottom: 1em;
}

figure {
	margin-bottom: 1em;
	img {
		margin-bottom: 1em;
	}
}
figcaption {
	font-style: italic;
}
