/*------------------------------------*\
    $Priority Navigation
\*------------------------------------*/

.app__header {
    @include gutter(1, 2, 1, 2);
    background: $color--background;

    > .content {
        @include aligner;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}

/*------------------------------------*\
    $Branding
\*------------------------------------*/


.branding {

    @include gutter(0, 0.5, 0, 0.5);

    &__link {
        display: block;
    }

    &__icon {
        padding: 0 0 4px;
        @include media-query(tablet-portrait) {
            padding: 0 0 4px;
        }
        @include media-query(tablet-landscape) {
            padding: 0 0 7px;
        }
        @include media-query(desktop) {
            padding: 0 0 10px;
        }
        @include media-query(desktop-wide) {
            padding: 0 0 13px;
        }
    }

    &__svg {
        height: 40px;
        width: 165px;
        fill: $color--foreground;
    }


}


/*------------------------------------*\
    $Priority Navigation
\*------------------------------------*/

.priority-nav {
    $root: &;

    @include gutter(0, 0.5, 0, 0.5);

    &__menu {
        display: none;

        @include media-query(tablet-landscape) {
            display: block;
        }
    }

    &__item {
        @include gutter(0, 0.5, 0, 0.5);
        display: inline-block;
    }

    &__link {
        text-decoration: none;
        color: $color--dark-grey;

        #{$root}__item:hover & {
            color: $color--brand;
        }
    }

    &__text {
        $size--modifier: 1;
        $height--modifier: 1;
        $size: 12px;
        $height: $size + $height--modifier;
        $weight: 300;

        display: block;
        font-size: $size;
        line-height: $height;
        font-weight: $weight;
        margin: 0;
        padding: 0;
        text-transform: uppercase;

        @include media-query(tablet-portrait) {
            font-size: $size + $size--modifier;
            line-height: $height + $size--modifier;
        }
        @include media-query(tablet-landscape) {
            font-size: $size + ($size--modifier * 1);
            line-height: $height + ($size--modifier * 1);
        }
        @include media-query(desktop) {
            font-size: $size + ($size--modifier * 2);
            line-height: $height + ($size--modifier * 2);
        }
        @include media-query(desktop-wide) {
            font-size: $size + ($size--modifier * 3);
            line-height: $height + ($size--modifier * 3);
        }
    }

    .navigation-link {
        display: block;

        @include media-query(tablet-landscape) {
            display: none;
        }
    }

}
