/*------------------------------------*\
    $Header ver 01
\*------------------------------------*/

.app__header--animated {

    $open--speed: 500ms;
    $open--transition: cubic-bezier(0.105, 0.490, 0.410, 1.020);

    $close--speed: 700ms;
    $close--transition: cubic-bezier(0.4, 0, 0.2, 1);

    @include gutter;
    position: absolute;
    overflow: hidden;
    background: rgba( $color--white, 0.7 );
    transform: translate3d(0%, -1px, 0);
    backdrop-filter: blur(5px);
    // mix-blend-mode: multiply;
    -webkit-mask-image: linear-gradient(
        to bottom,
        rgba($color--background, 0) 0%,
        rgba($color--background, 0) 1%,
        rgba($color--background, 1) 2%,
        rgba($color--background, 1) 98%,
        rgba($color--background, 0) 99%,
        rgba($color--background, 0) 100%
    );
    // sass-lint:disable indentation
    transition:
        transform $open--speed $open--transition 0ms;
    // sass-lint:enddisable indentation

    .unload {
        display: none;
    }

    &.anim--open {
        transform: translate3d(0%, -1px, 0);

        &-setup {
            transform: translate3d(0%, -100%, 0);
            transition-duration: 0ms;
            transition-delay: 0ms;
        }

        &-transition {
            // sass-lint:disable indentation
            transition:
                transform $open--speed $open--transition 0ms;
            // sass-lint:enddisable indentation
        }
    }

    &.anim--close {
        transform: translate3d(0%, -100%, 0);

        &-setup {
            // z-index: 2;
            transform: translate3d(0%, -1px, 0);
            transition-duration: 0ms;
            transition-delay: 0ms;
        }

        &-transition {
            // sass-lint:disable indentation
            transition:
                transform $close--speed $close--transition 0ms;
            // sass-lint:enddisable indentation
        }
    }
}
