<ul class="sg-colors">
	<li>
		<span class="sg-swatch bg-colour--primary"></span>
		<span class="sg-label">#2eb1b0</span>
	</li>
	<li>
		<span class="sg-swatch bg-colour--secondary"></span>
		<span class="sg-label">#68aa6c</span>
	</li>
	<li>
		<span class="sg-swatch bg-colour--tertiary"></span>
		<span class="sg-label">#fb5a40</span>
	</li>
	<li>
		<span class="sg-swatch bg-colour--quaternary"></span>
		<span class="sg-label">#f5c157</span>
	</li>
</ul>