/*------------------------------------*\
    $Homepage
\*------------------------------------*/

.homepage {
    &__hero {
        @include gutter(0, 0, 1, 0);
    }

    &__introduction {
        @include gutter(1, 2, 0, 2);

        &__text {
            @include aligner;
            @include gutter(0, 0, 2, 0);
            max-width: 1024px;
            text-align: center;
            border-bottom: solid 1px rgba($dark-grey, 0.1);
        }
    }

    &__section {
        @include gutter(0.5, 0.5, 0.5, 0.5);
        @include aligner;
    }
}
