<header class="site-header">
    <div class="site-header__aligner">
        <a href="#" class="site-header__logo">
            {% include "atoms-logo" %}
        </a>
        {% include "molecules-main-menu" %}
    </div>
</header>
