<div class="carousel-wrapper">
    <div class="carousel">
        <div class="carousel__item"></div>
        <div class="carousel__item"></div>
        <div class="carousel__item"></div>
        <div class="carousel__item"></div>
        <div class="carousel__item"></div>
    </div>
    <div class="carousel__pager carousel__pager--inner carousel__pager--init"></div>
</div>

<div class="carousel__navigation">
    <button class="carousel__navigation-prev">prev</button>
    <button class="carousel__navigation-next">next</button>
</div>