<div class="carousel">
    <img src="http://placehold.it/300x300">
    <img src="http://placehold.it/300x300">
    <img src="http://placehold.it/300x300">
    <img src="http://placehold.it/300x300">
    <img src="http://placehold.it/300x300">
</div>

<button class="carousel__prev">prev</button>
<button class="carousel__next">next</button>