<div class="siema">
    <img src="http://placehold.it/300x300">
    <img src="http://placehold.it/300x300">
    <img src="http://placehold.it/300x300">
    <img src="http://placehold.it/300x300">
    <img src="http://placehold.it/300x300">
</div>

<button class="prev">prev</button>
<button class="next">next</button>