

<nav class="priority-nav">

	<div class="priority-nav__menu">
		{% for item in priorityNavigation %}
			<div class="priority-nav__menu__item">				
				{% include "@molecules/links/priority-link.twig" with item %}
			</div>
		{% endfor %}
	</div>

	<a class="priority-nav__full-link" href="#app__nav">
		{% include "@atoms/icons/burger.twig" %}
	</a>

</nav>
