// setup the grid (required) :
@include gridle_setup((
  context       : 12,
  gutter-width  : $gutter-mobile
));

// register states :
@include gridle_register_state( tablet-portrait, (
  min-width   : $bp-tablet-portrait,
  gutter-width : $gutter-tablet
));
@include gridle_register_state( tablet-landscape, (
  min-width   : $bp-tablet-landscape,
  gutter-width : $gutter-tablet
));
@include gridle_register_state( desktop, (
  min-width    : $bp-deskop,
  gutter-width : $gutter-desktop
));
@include gridle_register_state( desktop-wide, (
  min-width   : $bp-deskop-wide
));
