/*------------------------------------*\
    $MIXINS
\*------------------------------------*/


/* ============================================
  Placeholder text
*/
@mixin placeholder-text {
  &.placeholder{ @content; }
  &:-moz-placeholder{ @content; }
  &::-moz-placeholder{ @content; }
  &:-ms-input-placeholder{ @content; }
  &::-webkit-input-placeholder{ @content; }
};

/* ============================================
  iOS Native vertical scroll
*/
@mixin native-vertical-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
