/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

$color--primary : #2eb1b0;
$color--secondary : #68aa6c;
$color--tertiary : #fb5a40;
$color--quaternary : #f5c157;

//Typography
$font : "HelveticaNeue", "Helvetica", "Arial", sans-serif;
$font-secondary : Georgia, Times, "Times New Roman", serif;

// Grid dimensions
$gutter-mobile:     10px;
$gutter-tablet:     20px;
$gutter-desktop:    40px;

// Breakpoints
$bp-tablet-portrait:  481px;
$bp-tablet-landscape: 769px;
$bp-deskop:           1025px;
$bp-deskop-wide:      1201px;
$max-width:         1100px;

// Transition duration
$default-transtion-speed: 250ms;