/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/


/* ============================================
   Colours
   https://coolors.co/2eb1b0-68aa6c-fb5a40-f5c157-2b3033
*/

// Colour vars
$color--teal:       #2eb1b0;
$color--green:      #68aa6c;
$color--orange:     #fb5a40;
$color--yellow:     #f5c157;
$color--dark-grey:  #2b3033;
$color--white:      #fff;

// Defaults
$color--foreground: $color--dark-grey;
$color--background: $color--white;
$color--brand: $color--orange;

// Theme colours
$color--primary: $color--teal;
$color--secondary: $color--green;
$color--tertiary: $color--orange;
$color--quaternary: $color--yellow;


/* ============================================
   Typography
   :: Default to system font stack
*/
$font--primary: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;


/* ============================================
   Grid Dimentions
*/
$gutter--mobile:        10px;
$gutter--tablet:        20px;
$gutter--desktop:       26px;
$gutter--desktop-wide:  40px;


/* ============================================
   Max width
*/
$max-width: 1350px;


/* ============================================
   Breakpoints
*/
$bp-tablet-portrait:  768px;
$bp-tablet-landscape: 1024px;
$bp-deskop:           1280px;
$bp-deskop-wide:      2556px;


/* ============================================
   Transition speeds
*/
