/*------------------------------------*\
    $Text Heading
\*------------------------------------*/

.text--heading {
    font-family: $font--primary;
    font-weight: 500;
    text-transform: uppercase;
    // Responsive points
    font-size: 42px;
    line-height: 44px;
    margin: 0 0 0;
    padding: 0px;
    @include gridle_state( tablet-portrait ){
        font-size: 56px;
        line-height: 56px;
        margin-bottom: 4px;
    }
    @include gridle_state( tablet-landscape ){
        font-size: 74px;
        line-height: 70px;
        margin-bottom: 4px;
    }
    @include gridle_state( desktop ){
        font-size: 98px;
        line-height: 96px;
        margin-bottom: 4px;
    }
    @include gridle_state( desktop-wide ){
        font-size: 130px;
        line-height: 126px;
    }
}