// Import gridle :
@import 'vendor/gridle/gridle';

// setup the grid (required) :
@include gridle_setup((
    context: 12,
    gutter-width: 15px // $gutter-mobile
));

// Example breakpoints
// NB: you DON'T need a "mobile" breakpoint since "mobile first" practices dictate 
// that the default, media-query-less version of a rule, IS the mobile version

// @include gridle_register_state( tablet-portrait, (
//     min-width: 481px,
//     gutter-width: 30px // $gutter-tablet-portrait
// ));
// @include gridle_register_state( tablet-landscape, (
//     min-width: 769px
// ));
// @include gridle_register_state( desktop, (
//     min-width: 1025px,
//     gutter-width: 40px // $gutter-desktop // !!!! important - we only need to set this once due to the way media queries work
// ));
// @include gridle_register_state( desktop-wide, (
//     min-width: 1200px
// ));


// Generate classes
// Only enable this is you need to use grid classes in your HTML markup
// This is otherwise quite an long task to execute

// @include gridle_generate_classes();